[Unit]
Description=Burp-UI agent service
After=network.target

[Service]
ExecStart={{ burpui_sv_command }}
User={{ burpui_user }}
Group={{ burpui_group }}
Environment={{ burpui_sv_environment }}
Environment=LC_ALL=en_US.UTF-8
Environment=LANG=en_US.UTF-8
RestartSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
