[program:bui-celery]
priority={{ burpui_sv_priority }}
directory={{ burpui_sv_directory }}
environment={{ burpui_sv_environment }}
command={{ burpui_sv_command }}
user={{ burpui_user }}
autostart={{ burpui_sv_autostart }}
autorestart={{ burpui_sv_autorestart }}
stdout_logfile={{ burpui_sv_stdout_logfile }}
stderr_logfile={{ burpui_sv_stderr_logfile }}