mode = client
server = 127.0.0.1
status_port = {{ burp_ui_status_port }}
protocol = {{ burp_ui_protocol }}
port = {{ burp_ui_port }}
user = root
group = root

pidfile = /var/run/burp-monitor.pid

cname = {{ ansible_nodename }}
password = 8urpCl13nt2015

syslog = 1
stdout = 1

ca_burp_ca = /usr/sbin/burp_ca
ca_csr_dir = /etc/burp/CA
ssl_cert_ca = /etc/burp/ssl_cert_ca-server.pem
ssl_cert = /etc/burp/ssl_cert-server.pem
ssl_key = /etc/burp/ssl_cert-server.key
ssl_key_password = password
ssl_peer_cn = {{ ansible_nodename }}