[Unit]
Description=Burp-UI gunicorn service
After=network.target

[Service]
User=root
Group=root
ExecStart={{ burpui_gunicorn_bin }} -c /etc/burp/burpui_gunicorn.py 'burpui:create_app(conf="/etc/burp/burpui.cfg",logfile="/var/log/gunicorn/burp-ui_info.log")'

[Install]
WantedBy=multi-user.target